.maincontent{
  height: 100%;
  width: 100vw;
  background-image: url("../images/kabe01.gif");
  display: flex;
}

.main-left-content{
  display: block;
  margin-top: 50px;
  margin-left: 70px;
  margin-bottom: 50px;
  margin-right: 110px;
  float: left;
  background-color: rgba($color: #6e6e6e, $alpha: 1.5);
  width: 900px;
  height: 100vh;
  overflow: scroll;
}
.main-right-content{
  display: block;
  float: right;
  background-color: rgba($color: #6e6e6e, $alpha: 1.5);
  width: 280px;
  height: 100vh;
  margin-top: 50px;
  margin-right: 70px;
  margin-bottom: 50px;
}

.main-title{
  box-sizing: border-box;
  height: 100ox;
  height: 60px;
  background-color: black;
}

.main-top{
  box-sizing: border-box;
  height: 100ox;
  height: 60px;
  background-color: black;
  text-align: center;
}
