.cardmain{
  background-color: blue;
  height: 400px;
  width: 280px;
  padding-right: 10px;
  padding-left: 10px;

  .card-tpp{
  height: 300px;
  width: 280x;
  background-color: coral;
  }

  .card-dwon{
  height: 100px;
  width: 280px;

  }
}