.cardmain{
  float: left;
  margin: 0,0,10px,;

  &__top{
  height: 200px;
  width: 280x;
  background-color: coral;
  }

  &__dwon{
  height: 100px;
  width: 280px;
  background-color: darkgray;
}
}

