.cardmain{
  background-color: blue;
  height: 200px;
  width: 80px;
  padding-right: 10px;
  padding-left: 10px;

  .card-tpp{
  height: 150px;
  width: 80px;
  background-color: coral;
  }

  .card-dwon{
  height: 50px;
  width: 80px;
    
  }
}